[gerrit]
	basePath = git
	canonicalWebUrl = http://tower5:8080/
[database]
	type = h2
	database = /home/sentinel/projects/jfactory/batchuser-gerrit-plugin/target/review_site/db/ReviewDB
[index]
	type = LUCENE
[auth]
	type = LDAP
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
[container]
	user = sentinel
	javaHome = /usr/lib/jvm/java-8-openjdk-amd64/jre
	javaOptions = -Xdebug -Xrunjdwp:transport=dt_socket,address=5005,server=y,suspend=n
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
[ldap]
	server = ldaps://172.179.0.1:1636
	sslVerify = false
	accountBase = ou=employee,ou=People,o=amg,c=pl
	groupBase = ou=Groups,o=amg,c=pl
[plugin "batchuser"]
	username = jenkins
	name = Jenkins
	sshKey = ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAEEAsUX/IBulIRL9y49x5AEuXad+nDmGTY1Ad+c2YFJPMQgJWtY+cDUrUNDBxyvYADDzFldeNMDAwAeBFSfQL8h3ew== sentinel@pirx
